* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: #0066FF;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}

.container {
  margin: 0 auto;
  padding: 20px;
  width: 50%;
}
